{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/login.css') }}">
</head>
<body>
	<div class="container">
		<h2>Login</h2>
		<form action="/login" method="get">
			<label for="username"><b>Utilisateur</b></label>
			<input type="text" placeholder="Enter Username" name="user" required>

			<label for="password"><b>Mot de passe</b></label>
			<input type="password" placeholder="Enter Password" name="passwd" required>

			<button type="submit">Connexion</button>
		</form>
    </div>
  </div>
</div>
{% endblock %}